<div class="order-1 sm:order-2">
  <ul class="flex sm:justify-end gap-5">
    <li>
      <a href="https://x.com/eminetto" target="_blank" rel="noopener noreferrer">Twitter</i></a>
    </li>
    <li>
      <a href="https://github.com/eminetto" target="_blank" rel="noopener noreferrer">Github</i></a>
    </li>
    <li>
      <a href="https://linkedin.com/in/eminetto" target="_blank" rel="noopener noreferrer">Linkedin</i></a>
    </li>
    <li>
      <a href="https://medium.com/@eminetto" target="_blank" rel="noopener noreferrer">Medium</i></a>
    </li>
    <li>
      <a href="https://dev.to/eminetto" target="_blank" rel="noopener noreferrer">dev.to</i></a>
    </li>
    <li>
      <a href="https://g.dev/eminetto" target="_blank" rel="noopener noreferrer">GDE</i></a>
    </li>
  </ul>
</div>