<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
  </head>

  <body class="max-w-screen-md mx-auto">
    <div class="header">
      {{ partial "header/index" . }}
      <div class="lg:inline-block hidden">
        {{ partial "header/theme-button" . }}
      </div>
    </div>
  
    <main id="content">
      {{- block "main" . -}}
      {{- end }}
    </main>

    {{- partial "footer/index" . -}}
  </body>
</html>
